Flask==3.1.3
anyio==4.12.1
shellingham==1.5.4
jiter==0.12.0
groq==1.0.0
threadpoolctl==3.6.0
mediapipe==0.10.32
docstring_parser==0.17.0
proto-plus==1.27.0
pyobjc-framework-Cocoa==12.1
google-genai==1.61.0
oauthlib==3.3.1
cloudpickle==3.1.2
requests==2.32.5
aiohttp==3.13.3
polars-runtime-32==1.37.1
multidict==6.7.1
click==8.3.1
wcwidth==0.5.3
tzdata==2026.2
roboflow==1.3.7
posthog==7.8.0
filelock==3.20.3
polars==1.37.1
certifi==2026.1.4
sse-starlette==3.2.0
flask-cors==6.0.2
inquirerpy==0.3.4
pillow==12.1.0
Mako==1.3.12
jsonschema-specifications==2025.9.1
python-multipart==0.0.22
gunicorn==25.3.0
sentry-sdk==2.58.0
numpy==2.4.1
greenlet==3.3.1
httplib2==0.31.2
databricks-sdk==0.106.0
pydantic==2.12.5
torchvision==0.25.0
fsspec==2026.1.0
pypdf==6.6.2
graphene==3.4.3
propcache==0.4.1
absl-py==2.4.0
opentelemetry-semantic-conventions==0.62b1
google-api-python-client==2.188.0
networkx==3.6.1
google-ai-generativelanguage==0.6.15
anthropic==0.77.0
python-dotenv==1.2.1
blinker==1.9.0
tenacity==9.1.2
jsonschema==4.26.0
contourpy==1.3.3
alembic==1.18.4
Authlib==1.6.6
google-auth-oauthlib==1.2.4
protobuf==5.29.5
pip==25.3
mlflow==3.11.1
langchain-core==1.2.7
uuid_utils==0.14.0
pi_heif==1.3.0
openai==2.16.0
itsdangerous==2.2.0
setuptools==80.10.1
cffi==2.0.0
GitPython==3.1.49
pyotp==2.9.0
kiwisolver==1.4.9
zstandard==0.25.0
jsonpatch==1.33
jsonpointer==3.0.0
fastapi==0.128.0
grpcio-status==1.71.2
SQLAlchemy==2.0.49
matplotlib==3.10.8
uritemplate==4.2.0
reportlab==4.4.9
opencv-contrib-python==4.13.0.90
aiofiles==25.1.0
prompt_toolkit==3.0.52
httpcore==1.0.9
playwright==1.58.0
mcp==1.26.0
soupsieve==2.8.3
portalocker==2.10.1
charset-normalizer==3.4.4
sympy==1.14.0
pydantic-settings==2.12.0
markdown-it-py==4.0.0
mlflow-tracing==3.11.1
prettytable==3.17.0
PyJWT==2.11.0
langsmith==0.6.7
platformdirs==4.9.6
huey==2.6.0
wandb==0.26.1
pytz==2026.1.post1
watchfiles==1.1.1
graphql-relay==3.2.0
pyarrow==23.0.1
h11==0.16.0
gitdb==4.0.12
opentelemetry-sdk==1.41.1
sniffio==1.3.1
googleapis-common-protos==1.72.0
smmap==5.0.3
pycparser==3.0
tqdm==4.67.2
httptools==0.7.1
screeninfo==0.8.1
importlib_metadata==8.7.1
mdurl==0.1.2
python-dateutil==2.9.0.post0
mlflow-skinny==3.11.1
mpmath==1.3.0
PyYAML==6.0.3
markdownify==1.2.2
pyee==13.0.0
pydantic_core==2.41.5
cdp-use==1.4.4
orjson==3.11.6
uvicorn==0.40.0
urllib3==2.6.3
frozenlist==1.8.0
uuid7==0.1.0
typing_extensions==4.15.0
aiosignal==1.4.0
beautifulsoup4==4.14.3
packaging==25.0
browser-use-sdk==2.0.14
zipp==3.23.1
joblib==1.5.3
opencv-python-headless==4.10.0.84
cycler==0.12.1
cryptography==46.0.4
idna==3.7
Jinja2==3.1.6
referencing==0.37.0
pyparsing==3.3.2
pandas==2.3.3
cachetools==7.0.6
pyasn1==0.6.2
MarkupSafe==3.0.3
Werkzeug==3.1.8
bubus==1.5.6
distro==1.9.0
pfzy==0.3.4
opentelemetry-api==1.41.1
flatbuffers==25.12.19
opencv-python==4.13.0.92
Pygments==2.19.2
ultralytics-thop==2.0.18
python-docx==1.2.0
aiohappyeyeballs==2.6.1
langchain-google-genai==4.2.0
ollama==0.6.1
opentelemetry-proto==1.41.1
websockets==15.0.1
attrs==25.4.0
requests-toolbelt==1.0.0
google-generativeai==0.8.6
docker==7.1.0
pillow-avif-plugin==1.5.5
google-auth==2.49.0.dev0
torch==2.10.0
httpx==0.28.1
skops==0.14.0
pyobjc-core==12.1
backoff==2.2.1
pyasn1_modules==0.4.2
grpcio==1.76.0
google-api-core==2.29.0
filetype==1.2.0
uvloop==0.22.1
psutil==7.2.2
starlette==0.50.0
typer==0.25.1
google-auth-httplib2==0.3.0
graphql-core==3.2.8
lxml==6.0.2
typing-inspection==0.4.2
scipy==1.17.0
annotated-types==0.7.0
rich==14.3.1
fonttools==4.61.1
httpx-sse==0.4.3
ultralytics==8.4.9
Cython==3.2.4
rpds-py==0.30.0
six==1.17.0
yarl==1.22.0
requests-oauthlib==2.0.0
scikit-learn==1.8.0
xxhash==3.6.0
browser-use==0.11.5
sounddevice==0.5.5
sqlparse==0.5.5
annotated-doc==0.0.4
